<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link rel="stylesheet" href="../stylesheets/utilities.css">
  <title>General Search Results</title>
</head>

<body>

</body>

</html>


<%- include('partials/header') %>
<section id="general-search">
  <%if(response.Response == 'False'){%>
  <h1><%= response.Error %> </h1>
  <%} else { %>
  <%result.forEach(function(Search){%>
  <div class="search-result">
    <h1>Title: <%= Search.Title %> </h1>
    <h3>Type: <%= Search.Type %> </h3>
    <img src="<%= Search.Poster %> " alt="Film Poster">
  </div>
  <%});%>
  <%};%>

  <a href="/search" class="btn-primary">Go back</a>
</section>

<%- include('partials/footer') %>